:root {
	--aqua-marin: #54e6af;
	--pale-cyan: #b3ffe2;
	--dark-blue-grey: #2c344b;
	--mirage: #121725;
	--white: #ffffff;
	--marble-blue: #5a668a;
	--light-blue-grey: #c2cbe5;
	--red: #fb3e3e;
}

.text-aqua-marin {
	color: var(--aqua-marin);
}
