@use '../util' as *;

.container {
	max-width: 1110px;
	width: 77.08333333333%;
	margin: 0 auto;

	@include breakpoint-down(large) {
		width: 89.84375%;
	}

	@include breakpoint-down(small) {
		width: 87.2%;
	}
}

.header {
	padding-top: rem(102);
	padding-bottom: rem(102);

	@include breakpoint-down(large) {
		padding-top: rem(50);
		padding-bottom: rem(152);
	}

	@include breakpoint-down(small) {
		padding-top: rem(62);
		padding-bottom: rem(57);
		text-align: center;
	}
}

.wrapper {
	width: rem(723);
	height: rem(509);
	background: var(--mirage);
	padding-top: rem(88);
	margin-bottom: rem(130);

	@include breakpoint-down(large) {
		width: rem(635);
		padding-top: rem(93);
		margin-bottom: rem(154);
	}

	@include breakpoint-down(small) {
		width: 100%;
		height: 100%;
		background: transparent;
		padding-top: 0;
		text-align: center;
		display: flex;
		flex-direction: column;
		margin-bottom: rem(94);
	}

	.title {
		margin-bottom: rem(24);

		@include breakpoint-down(small) {
			margin-bottom: rem(16);
		}
	}

	.text {
		width: rem(445);
		margin-bottom: rem(40);

		@include breakpoint-down(small) {
			width: 100%;
			margin-bottom: rem(33);
		}
	}

	.form {
		margin-bottom: rem(64);

		&.invalid {
			margin-bottom: rem(28);
		}

		@include breakpoint-down(small) {
			order: 10;
		}
	}

	.companies {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: rem(536);

		@include breakpoint-down(small) {
			width: 100%;
			order: 1;
			margin-bottom: rem(33);

			:first-child {
				width: rem(56);
			}

			:nth-child(2) {
				width: rem(45);
			}

			:nth-child(3) {
				width: rem(73);
			}

			:last-child {
				width: rem(77);
			}
		}
	}
}
